// Custom styles.

.site-meta {
    background: url(https://ws1.sinaimg.cn/large/694830ebgy1fh3pyd05klj21kw0f2dy2.jpg);
}

// 自定义h1-h6 前面图标
.post-body h1 {
    margin-bottom: 15px;
    color: #eb2f96;
    a {
        color: #fa541c;
    }
}
.post-body h2::before,
.post-body h3::before,
.post-body h4::before {
    margin-right: .3rem;
    color: #f47466;
    content: "\f02e";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: .8rem;
    -webkit-transition: all .2s ease-out;
    -moz-transition: all .2s ease-out;
    -o-transition: all .2s ease-out;
    -ms-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

/**ol 样式修改开始*/

.post-body h2:hover::before,
.post-body h3:hover::before,
.post-body h4:hover::before {
    margin-right: .4rem;
    color: #49b1f5;
}
.post-body ol {
    margin-top: .4rem;
    padding: 0 0 0 .8rem;
    list-style: none;
    counter-reset: li;
}
// .post-body ul li
.post-body ol li {
    position: relative;
    margin: .2rem 0;
    padding: .1rem .5rem .1rem 1.5rem;
}
.post-body ol li:before {
    margin-top: .4rem;
    width: 1.2rem;
    height: 1.2rem;
    border-radius: .6rem;
    content: counter(li);
    counter-increment: li;
    text-align: center;
    font-size: .6rem;
    line-height: 1.2rem;
}
// .post-body ul li:before,
.post-body ol li:before {
    position: absolute;
    // top: 50%;
    top: 0;
    left: 0;
    background: #49b1f5;
    color: #fff;
    cursor: pointer;
    // transform: translateY(-50%) rotate(0deg);
    // -webkit-transform: translateY(-50%) rotate(0deg);
    // -moz-transform: translateY(-50%) rotate(0deg);
    // -o-transform: translateY(-50%) rotate(0deg);
    // -ms-transform: translateY(-50%) rotate(0deg);
    -webkit-transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -o-transition: all .3s ease-out;
    -ms-transition: all .3s ease-out;
    transition: all .3s ease-out;
}
// .post-body ul li:hover:before
.post-body ol li:hover:before {
    // -webkit-transform: translateY(-50%) rotate(360deg);
    // -moz-transform: translateY(-50%) rotate(360deg);
    // -o-transform: translateY(-50%) rotate(360deg);
    // -ms-transform: translateY(-50%) rotate(360deg);
    // transform: translateY(-50%) rotate(360deg);
    transform: rotate(360deg);
    // transform: translateY(-50%) scale(1.12);
}
/*ol样式修改结束*/

// 自定义页脚跳动的心样式
@keyframes heartAnimate {
    0%,100%{transform:scale(1);}
    10%,30%{transform:scale(0.9);}
    20%,40%,60%,80%{transform:scale(1.1);}
    50%,70%{transform:scale(1.1);}
}
.fa-heart {
    animation: heartAnimate 1.33s ease-in-out infinite;
}
.with-love {
    color: rgb(255, 113, 168);
}
// 返回顶部
.back-to-top {
    background-color: rgba(247,149,51,.75);
    border-radius: 5px;
}

// about
h2.about-title {
    border-left: none !important;
    margin-left: 0px !important;
    padding-left: 0px !important;
    text-align: center;
    background-image: linear-gradient(90deg, #a166ab 0%, #a166ab 40%, #ef4e7b 45%, #f37055 50%, #ef4e7b 55%, #a166ab 60%, #a166ab 100%);
    background-size: cover;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    user-select: none;
}

// 选中文字部分的样式
::selection {
    background-color: rgb(239, 78, 123);
    color: rgb(255, 255, 255);
}
*::-moz-selection {
    background-color: rgb(239, 78, 123);
    color: rgb(255, 255, 255);
}
/* 设置滚动条的样式 */
/* 参考https://segmentfault.com/a/1190000003708894 */
::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
/* 滚动槽 */
::-webkit-scrollbar-track {
    background: #eee;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(247, 149, 51);
}

// 音乐播放器aplayer
.aplayer {
    font-family: Lato, -apple-system, BlinkMacSystemFont, "PingFang SC", "Hiragino Sans GB", "Heiti SC", STHeiti, "Source Han Sans SC", "Noto Sans CJK SC", "WenQuanYi Micro Hei", "Droid Sans Fallback", "Microsoft YaHei", SimHei, source-han-sans-simplified-c, sans-serif !important;
}
.aplayer-withlrc.aplayer .aplayer-info {
    background-color: rgb(255, 255, 255);
}
// 音乐播放器aplayer歌单
.aplayer .aplayer-list ol {
    background-color: rgb(255, 255, 255);
}
// 修视频播放器dplayer页面全屏的bug
.use-motion .post-body {
    transform: inherit !important;
}

// 标签云页面超链接样式（为emoji特设）
.tag-cloud a {
    color: rgb(80, 115, 184);
    border-bottom: 1px solid rgb(80, 115, 184);
    text-decoration: none;
}
.tag-cloud a:hover {
    color: rgb(161, 102, 171);
    border-bottom: 1px solid rgb(161, 102, 171);
    text-decoration: none;
}

// 文章元数据中categories的样式（为emoji特设）


// 自定义的侧栏时间样式
#days {
    display: block;
    color: rgb(7, 179, 155);
    font-size: 13px;
    margin-top: 15px;
    text-align: center;
}

// 自定义的文章摘要图片样式
img.img-topic {
    width: 100%;
}